*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

@media (max-width: 768px) {
  App {
    padding: 30px;
  }
}
